*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
  } 


body{
    background-image: url('/allcars/reg.jpg');
    background-size: cover;
  }

  .agregarauto{
      width: 400px;
      background-color: rgba(0, 0, 0, 0.616);
      padding: 30px;
      margin: 100px;
      margin-top: 100px;
      border-radius: 4px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgba(255, 255, 255, 0.349);
      box-shadow: 7px 13px 37px #000;
  
  }
  .agregarauto h4{
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  }
  
  .controls{
      width: 100%;
      background-color: rgba(53, 45, 43, 0.432);
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid rgba(15, 40, 74, 0);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.274);
      }
  
  .agregarauto p{
      height: 40px;
      text-align: center;
      font-size: 18px;
  }
  
  .agregarauto a{
      height: 40px;
      text-decoration: none;
  }
  
  .agregarauto a:hover {
      height: 40px;
      text-decoration: underline;
  }
  
  .agregarauto .botons{
      width: 100%;
      background: rgba(48, 51, 59, 0.425);
      border: none;
      padding: 12px;
      color: white;
      margin: 16px 0;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
  }